<table>
  <th>Row</th>
  <th>Name</th>
  <th>Country</th>
  <th>Rate</th>
  <th>Date</th>
  <tr *ngFor="let currency of currencies; let i = index">
    <td>{{i + 1}}</td>
    <td>
      <a routerLink="edit/{{currency.id}}">Edit</a>
    </td>
    <td>
      <a href="#" (click)="onDelete(currency.id)" onclick="return false;">Delete</a>
    </td>
    <td>{{currency.id}}</td>
    <td>{{currency.name}}</td>
    <td>{{currency.country}}</td>
    <td>{{currency.rate}}</td>
    <td>{{currency.date}}</td>
  </tr>
</table>
<a routerLink="add">Add currency</a>
